
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;


  }

  *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
     text-transform: capitalize;
  }

  h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }

  h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }

  h4{
    font-size: 20px;
    color: #222;
  }

  h6{
    font-size: 12px;
    font-weight: 700;
 
  }

  p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }

  section-1{
    padding: 40px 80px;
  }
  section-m1{
    margin: 40px 0;
  }

  body{
    width: 100%;
  }


  /* nav header start here */
    .nav-header{
        height: 80px;
        width: 100%;
        background-color: #e3e6f3;
        box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.2);
         padding: 20px 80px;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 999;
    }
              .logo{
                 margin-top: -1rem;
              }

           .logo a{
            font-size: 2rem;
           }
             .logo small{
                color: #1a1a1a;
                font-weight: 600;
             }
             .logo span{
                color: #088;
                font-size: 3rem;
                font-weight: 600;
             }

        .nav-links{
            display: flex;
            justify-content: space-between;
        }

          .menu-links{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
          }
          .menu-links a{
              font-size: 1.5rem;
              color: #1a1a1a;
              font-weight: 600;
              transition: var(--transition);
              position: relative;
          }

          .menu-links a:hover{
            color: #088;
          }
               .menu-links a:hover,
               .menu-links a.active{
            color: #088;
            
          }
          .menu-links a.active::after,
          .menu-links a:hover::after{
             content: "";
             width: 40%;
             height: 2px;
             background-color: #088;
             position: absolute;
             bottom: -4px;
             left: 4px;
          }

          .hero{
            background: url('./images/freestocks-_3Q3tsJ01nc-unsplash.jpg');
            width: 100%;
            height: 90vh;
             background-size: cover;
             background-position: top 25% right 0;
             padding: 0 80px;
             display: flex;
             align-items: flex-start;
             flex-direction: column;
             justify-content: center;
          }
          .hero h2{
            color: #088;
          }
          .hero h4{
             margin: 1rem;
          }
          .hero p{
             font-size: 1.3rem;
          }
           
          .btn-shop{
            font-size: 1rem;
            background-color: #088;
            color: #1a1a1a;
            padding: 0.5rem;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: 0.3s;
          }

          .btn-shop:hover{
            
            background-color: #1a1a1a;
            color: #088;
          }
   /* end here */